# Celery configuration
# http://docs.celeryproject.org/en/latest/configuration.html

BROKER_URL = '{{ redis_url }}'
CELERY_RESULT_BACKEND = BROKER_URL

# json serializer is more secure than the default pickle
CELERY_TASK_SERIALIZER = 'json'
CELERY_ACCEPT_CONTENT = ['json']
CELERY_RESULT_SERIALIZER = 'json'

# Use UTC instead of localtime
CELERY_ENABLE_UTC = True

# Maximum retries per task
CELERY_TASK_ANNOTATIONS = { '*': {'max_retries': {{ max_retries }} } }

# Store results for this time
CELERY_TASK_RESULT_EXPIRES = {{ store_tasks_hours }} * 3600

# Update the Redis status when a task is started
CELERY_TRACK_STARTED = True

# Minimise prefetch
CELERYD_PREFETCH_MULTIPLIER = 1

# Custom (non-celery) options
CUSTOM_RETRY_DELAY = {{ retry_delay }}
